# Ignore old svn files
.svn*

# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php
sites/all/modules/custom/sync/sync.inc.php
modules/contrib/sync/sync.inc.php

# Ignore paths that contain generated content.
files/
sites/*/files
sites/*/private


